:root {
    // Dark theme
    --black : black;
    --white : white;  
    --gray : #424242;
    --gray-2 : #575757;
    --gray-3 : #757575;
    --gray-4 : #9e9e9e;
    --gray-5 : #bdbdbd;
    --gray-6 : #e0e0e0;


    // Light theme
    --light-black : #333333;
    --light-white : #f5f5f5;
    --light-gray : #e0e0e0;
    --light-gray-2 : #bdbdbd;
    --light-gray-3 : #9e9e9e;
    --light-gray-4 : #757575;
    --light-gray-5 : #616161; // color boder
    --light-gray-6 : #424242;
    
}

html {
    font-size: 75%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 0.3rem var(--gray-2); 
border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--gray-2); 
border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background:var(--gray-3); 
}


@media (min-width: 640px) {
    html {
        font-size: 80%;
    }
 }
@media (min-width: 768px) {
    html {
        font-size: 85%;
    }
 }
@media (min-width: 1024px) {
    html {
        font-size: 90%;
    }
 }
@media (min-width: 1280px) {
    html {
        font-size: 95%;
    }
 }
@media (min-width: 1536px) {
    html {
        font-size: 100%;
    }
 }