.header {
    background-color: var(--light-black);
}


.header__wrap__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    color: red;
}
.header__title--disable{
    color: blue;
}