.manager {
    border-top: 3px solid var(--light-gray-5);
    border-radius: 1.5rem;
    padding: 1rem;
    h1 {
        text-align: center;
        font-size: 2rem;
        font-family: "Dancing Script", cursive;
    }
}



.homeSearch__filter__wrap__item__title {
    background-color: var(--gray);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    box-shadow: 2px 2px 2px var(--black);
    &:hover {
      background-color: var(--gray-2);
      cursor: pointer;
    }
  } 

// ManagerUser
.user {
  padding-top: 0.5rem;
  h1{
    border-top: 1px solid var(--gray-2);
  }
  .user__list {
    width: 100%;
    .tableCustom {
      width: 100%;
      padding: 0;
    }
    .customRow {
      text-align: center;
      padding: 0.5rem 0;
    }
  }
  .btn__edit {
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    &:hover{
      background-color: var(--gray-2);
      cursor: pointer;
    }
  }
  .btn__delete {
    padding: 0.2rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    &:hover{
      background-color: var(--gray-2);
      cursor: pointer;
    }

  }
}


.search__mini__detail{
  padding: 0.5rem 0;
  border-bottom: 1px dashed var(--gray);
}
.search__mini__detail:last-child {
  border: none;
}
.search__mini__detail__item {
  display: flex;
  margin: 0.25rem;
  .search__mini__detail__item__text {
      text-align: justify;
      width: calc(100% - 30%);
  }
  .search__mini__detail__item__text:first-child {
      width: 30%;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--gray-3);
      user-select: none;
  }
  span {
      margin-right: 0.5rem ;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--gray-3);
      user-select: none;
  }
}


.homeResult__wrap__info__detail{
  padding: 0.5rem 0;
  border-bottom: 1px dashed var(--gray);
}
.homeResult__wrap__info__detail:last-child {
  border: none;
}
.homeResult__wrap__info__detail__item {
  display: flex;
  margin: 0.25rem;
  .homeResult__wrap__info__detail__item__text {
      text-align: justify;
      width: calc(100% - 30%);
  }
  .homeResult__wrap__info__detail__item__text:first-child {
      width: 30%;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--gray-3);
      user-select: none;
  }
  span {
      margin-right: 0.5rem ;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--gray-3);
      user-select: none;
  }
}


//add film
.input-text {
  width: 100%;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-2);
  &:focus {
    outline: none;
    border: 1px solid var(--gray-3);
  }
}
.wrap__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .btn__add__film {
    width: 10rem;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    &:hover {
      cursor: pointer;
      background-color: var(--gray-2);
    }
  }
}
.wrap__btn__search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  .btn__search__film {
    width: 10rem;
    height: 100%;
    margin-left: 0.75rem;
    padding:0 1rem;
    border-radius: 0.5rem;
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    &:hover {
      cursor: pointer;
      background-color: var(--gray-2);
    }
  }
}
.modal__search__film {
  width: calc(100% - 16.5rem);
  top: calc(100% + 0.75rem);
  left: calc(6rem + 0.5rem);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--gray);
  box-shadow: 2px 2px 2px var(--black);
  .modal__search__film__item {
    border: 1px solid var(--gray-2);
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    padding: 0 1rem;
    &:hover {
      cursor: pointer;
      background-color: var(--gray-2);
    }
  }
  .modal__search__film__item__title__text {
    font-size: 1rem;
    user-select: none;
  }
}
.wrap-btn {
  display: inline-flex;
}
@media (max-width: 640px) {
  .homeSearch__filter__wrap__item__title{
    font-size: 0.75rem;
  }
}