

.homeDefault__wrap__content {
    text-align: center;
    
    .homeDefault__wrap__content__title {
        padding: 1rem;   
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }


    .homeDefault__wrap__content__title:first-child {
        margin-top: 2rem;
        font-size: 2.5rem;
        font-family: 'Courier New', Courier, monospace;
    }
    
    .homeDefault__wrap__content__title:nth-child(2) {
        font-size: 2rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .homeDefault__wrap__content__title:last-child {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}

.homeDefault__wrap__footer {
    width: 100%;
    .homeDefault__wrap__footer__content__contact__content__item__text__title {
        text-align: center;
    }

}

.homeDefault__wrap__footer__content__contact__content__item__text__title__icon {
    margin-right: 0.5rem;
    cursor: pointer;
}
.homeDefault__wrap__footer__content__contact__content__item {
    background-color: var(--gray);
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px var(--black);
    padding: 1rem;
}
.homeDefault__wrap__footer__content__contact__content__item:hover {
    background-color: var(--gray-2);
    cursor: pointer;
}


