.homeDefault__wrap__footer {
    width: 100%;



    .homeDefault__wrap__footer__content__contact__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.homeDefault__wrap__footer__content__contact__content__item__text__title__icon {
    margin-right: 0.5rem;
    cursor: pointer;
}


