.wishlist {
    border-top: 3px solid var(--light-gray-5);
    border-radius: 1.5rem;
    padding: 1rem;
    h1 {
        text-align: center;
        font-size: 2rem;
        font-family: "Dancing Script", cursive;
    }
}

.wishlist__wrap__item__filter {
    margin-top: 1rem;
}

.wishlist__wrap__item {
    margin-top: 1rem;
}

.wishlist__wrap__item__filter__title {
    background-color: var(--gray);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    box-shadow: 2px 2px 2px var(--black);
    span {
      color: aqua;
      font-size: 0.6rem;
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: var(--gray-2);
      cursor: pointer;
    }
    &--active {
      @extend .wishlist__wrap__item__filter__title;
      background-color: var(--gray-2);
    }
    &--disable {
      @extend .wishlist__wrap__item__filter__title;
      display: none;
    }
  }

  .item {
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    height: 15rem;
    border-radius: 1.5rem;
    &:hover{
      opacity: 0.9;
      background-color: var(--gray-2);
      cursor: pointer;
    }
  .item__img {
    width: 100%;
    height: 12rem;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--gray-2);
    img {
      width: 100%;
      height: 100%;
      border-radius: 1.5rem 1.5rem 0 0;
    }
  }
  .item__title {
    padding: 0.2rem 1rem;
    .item__title__text {
      font-size: 0.9rem;
      font-weight: 500;
      padding: 0;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden; 
      width: 100%; 
      white-space: nowrap;
      &:hover {
        // color: var(--gray-5);
      }
    }
    .item__title__text:last-child {
      align-items: center;
      margin-bottom: 0;
      font-size: 0.7rem;
      color: var(--gray-4);
    }
  }

}


// .wishlist__footer__pagination__wrap {
//     margin-top: 1rem;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .wishlist__footer__pagination__wrap__item {
//       padding: 0.5rem 1rem;
//       margin: 0 0.5rem;
//       border-radius: 0.5rem;
//       background-color: var(--gray);
//       box-shadow: 2px 2px 2px var(--black);
//     }
  
//     :hover{
//       cursor: pointer;
//       background-color: var(--gray-2);
//     }
//   }



// @media (max-width: 640px) {
//     .item:last-child {
//       // margin-bottom: 1rem;
//       display: none;
//     }
// }