.wishlist {
    border-top: 3px solid var(--light-gray-5);
    border-radius: 1.5rem;
    padding: 1rem;
    h1 {
        text-align: center;
        font-size: 2rem;
        font-family: "Dancing Script", cursive;
    }
}

.wishlist__wrap__item__filter {
    margin-top: 1rem;
}

.wishlist__wrap__item {
    margin-top: 1rem;
}

.wishlist__wrap__item__filter__title {
    background-color: var(--gray);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    box-shadow: 2px 2px 2px var(--black);
    &:hover {
      background-color: var(--gray-2);
      cursor: pointer;
    }
  }

.item {
    background-color: var(--gray);
    box-shadow: 2px 2px 2px var(--black);
    height: 13.5rem;
    border-radius: 1.5rem;
}